@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
    background: linear-gradient(#404040, #151415);
}

.banner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 300px;
    width: 400px;
    height: 320px;
    background: #fa215e;
    z-index: 1;
    transition: 1s;
}

.banner.active:before {
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #151415;
}

.banner:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 100px;
    width: 400px;
    height: 200px;
    background: #aeff0f;
    z-index: 1;
    transition: 1s;
}

.banner.active:after {
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #151415;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

header .logo {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
    transform-origin: right;
}

.banner.active .logo {
    transform: scale(0);
    transform-origin: left;
}

.toggle {
    position: relative;
    width: 30px;
    height: 30px;
    background: url(menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
}

.toggle.active {
    background: url(close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

.content {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    transform-origin: right;
}

.banner.active .content {
    transform: scale(0);
    transform-origin: left;
}

.content .contentBx {
    max-width: 600px;
}

.content .contentBx h2 {
    font-size: 4em;
    line-height: 1em;
    color: #fff;
    text-transform: uppercase;
}

.content .contentBx p {
    font-size: 1em;
    color: #fff;
    margin: 20px 0;
}

.content .contentBx a {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
}

.content .contentBx a:hover {
    letter-spacing: 4px;
    background: #fff;
    color: #111;
}

.content .imgBx img {
    max-width: 100%;
    min-width: 400px;
}

.sci {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.5s;
    transform-origin: right;
}

.banner.active .sci {
    transform: scale(0);
    transform-origin: left;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.6)
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;
}

.banner.active .menu {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.7s;
}

.menu li {
    list-style: none;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}

@media (max-width: 991px) {
    header {
        padding: 20px 40px;
    }
    .banner {
        padding: 40px;
        overflow: hidden;
    }
    .banner:before {
        top: 100px;
        left: 0;
        width: 170px;
        height: 310px;
    }
    .banner:after {
        bottom: 0;
        right: 0;
        width: 80px;
        height: 60px;
    }
    .content {
        position: relative;
        z-index: 2;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
        transform-origin: right;
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .content .contentBx {
        max-width: 100%;
    }
    .content .imgBx img {
        max-width: 100%;
        min-width: 300px;
    }
    .content .contentBx h2 {
        font-size: 2.5em;
    }
}