@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}


main {
    position:relative;
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul 
{
    position: relative;
    display: flex;
}

header ul li {
    list-style-type: none;
    margin-left: 40px;
}

header ul li a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 400;
    cursor: pointer;
}

header ul li a:hover {
    color: #929292;
}


.content {
    position: relative;
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.content .textBox {
    position:relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: normal;
}

.content .textBox h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p {
    color: #333;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #017143;
    color: #FFF;
    border-radius: 2.8rem;
    text-decoration: none;
    font-weight:500;
    letter-spacing: 1px;
}

.content .textBox a:hover {
    color: #dddddd;
    background-color: #1e8158;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img {
    max-width: 340px;
}

.thumb {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    bottom: 20px;
    width: 100%;
    column-gap: 10px;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img  {
    max-width: 60px;
}

.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    transition: 0.2s;
    filter: invert(1);
}

.sci li a:hover {
    transform: scale(0.8);
    transition: 0.1s;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #017143;
    clip-path: circle(600px at right 800px);
}


@media (max-width:991px) 
{
 header {
    padding: 20px;
 }

 header .logo {
    max-width: 60px;
}
header ul {
    display: none;
}

header ul li a {
    font-size: 1.5em;
    margin: 5px 0;
}

header ul.navigation.active {
    position: fixed;
    overflow-y: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#FFF;
    z-index: 10;
}

.toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("/assets/imgs/menu.png");
    background-size: 30px;
    background-position:center ;
    background-repeat:no-repeat;
    filter: invert(1);
    transition: 0.2s;
}


.toggle.active {
    
    top: 40px;
    right: 20px;
    position: fixed;
    background-image: url("/assets/imgs/close.png");
    background-size: 30px;
    background-position:center ;
    background-repeat:no-repeat;
    filter: invert(1);
    transition: 0.2s;
    z-index: 12;
}

.content {
    flex-direction: column;
    margin-top: 100px;
    padding: 20px 20px 120px;
}

.content .textBox{
   max-width: 100%;
}

.content .imgBox {
    max-width: 100%;
    justify-content: center;
}

.content .imgBox img {
max-width: 300px;
}

.content .textBox h2 {
    font-size: 2.5em;
    margin-bottom: 1rem;
}

.circle {
    clip-path: circle(400px at center bottom);
}

.thumb li img  {
    max-width: 40px;
}

.sci 
{
    background-color: #017143;
    right: 0;
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

}